<html>
<head>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <script>
        async function onSubmit(e) {
            e.preventDefault()
            await fetch("http://localhost:3002/user", {
                method: "POST",
                body: JSON.stringify({"username": "mohit", "password": 123456}),
                headers: {
                    'Content-Type': 'application/json',
                }
            })
        }

        function hello(e) {
            e.preventDefault()
            console.log("hi")
        }
    </script>
    <form onsubmit="hello">
        <h2>Login</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <input type="submit" value="LogIn">
    </form>
</body>
</html>